// Recreate the Swagger UI
table {
  width: 100%;
  padding: 10px;
  border-collapse: separate;
  // Space the table
  border-spacing: 0.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  box-sizing: border-box;
  margin: 30px auto;
  max-width: 1460px;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}

.title {
  color: #3b4151;
  font-family: sans-serif;
  font-size: 36px;
  margin: 0;
}

.base-url {
  color: #3b4151;
  font-family: monospace;
  font-size: 12px;
  font-weight: 300!important;
  font-weight: 600;
  margin: 0;
}

.output {
  padding: 10px;
}

.centered {
  text-align: center;
}

.baseButton {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  min-width: 80px;
  min-height: 30px;
  padding: 6px 0;
  text-align: center;
  text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.deleteButton {
  background: #f93e3e;
}

.getButton {
  background: #61affe;
}

.postButton {
  background: #49cc90;
}

.putButton {
  background: #fca130;
}

.baseOutline {
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 0 3px rgb(0 0 0 / 19%);
  width: 100%;
}

.getOutline {
  background: rgba(97,175,254,.1);
  border-color: #61affe;
}

.deleteOutline {
  background: rgba(249,62,62,.1);
  border-color: #f93e3e;
}

.postOutline {
  background: rgba(73,204,144,.1);
  border-color: #49cc90;
}

.putOutline {
  background: rgba(252,161,48,.1);
  border-color: #fca130;
}
