<form fxLayout="column" [formGroup]="artikelForm" (ngSubmit)="register()" autocomplete="off">
  <mat-form-field fxFlex>
    <input matInput formControlName="id" placeholder="Id" type="text" />
    <mat-error>ID Fehler</mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <input matInput formControlName="description" placeholder="Beschreibung" type="text" />
    <mat-error>Beschreibung Fehler</mat-error>
  </mat-form-field>

  <div fxFlex fxLayout.lt-sm="column" formGroupName="price">
    <mat-form-field fxFlex>
      <input matInput formControlName="purchaseprice" placeholder="Einkaufspreis" type="number" />
      <mat-error>Einkaufspreis Problem</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput formControlName="retailprice" placeholder="Verkaufspreis" type="number" />
      <mat-error>Verkaufspreis Problem</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field fxFlex>
    <input matInput formControlName="launchdate" placeholder="Einführungsdatum" type="date" />
    <mat-error>Datum Problem</mat-error>
  </mat-form-field>

  <div fxFlex [fxLayout]="images.value.length <= 3 ? 'row' : 'column'" fxLayout.lt-sm="column" formArrayName="images">
    <div fxFlex *ngFor="let control of images.controls; index as i">
      <div fxFlex fxLayout.lt-sm="column" [formGroup]="imagesForm">
        <mat-form-field fxFlex>
          <input matInput formControlName="url" placeholder="URL" type="text" />
          <mat-error>Einkaufspreis Problem</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput formControlName="title" placeholder="Titel" type="text" />
          <mat-error>Verkaufspreis Problem</mat-error>
        </mat-form-field>
      </div>
        <button mat-mini-fab color="primary" [disabled]="images.value.length === 1 ? 'true' : 'false'" type="button"
          (click)="removeImageControl(i)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <button mat-mini-fab color="primary" type="button" (click)="addImageControl()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  <button fxFlex mat-raised-button type="submit" [disabled]="!artikelForm.valid">
    OK
  </button>
  <button fxFlex mat-raised-button type="submit" [disabled]="!artikelForm.valid">
    OK
  </button>
</form>
