<h1 mat-dialog-title>Themeneingabe</h1>
<div mat-dialog-content>
  <form [formGroup]="themeForm">
    <mat-form-field appearance="fill" type="text">
      <mat-label>Themenbeschreibung</mat-label>
      <input matInput formControlName="theme" [(ngModel)]="data.data" />
      <mat-icon matSuffix>
        search
      </mat-icon>
      <mat-error *ngIf="themeForm.controls.theme.hasError('themeExists')">Diesen Thema gibt es schon</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [disabled]="!themeForm.valid" [mat-dialog-close]="data">
    {{ data.editing ? "Ändern" : "Hinzufügen" }}
  </button>
  <button mat-raised-button (click)="onNoClick()">Zurück</button>
  <button mat-raised-button [disabled]="!data.editing" (click)="onDelete()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
