<div class="pizza-form">
  <label>Name:</label>
  <input #nameInput type="text"><br>
  <label>Beschreibung:</label>
  <input #descInput type="text"><br>
  <label>Preis:</label>
  <input #priceInput type="number" step="0.01" value="0">
  <span>
    <button (click) = "addPizza(nameInput.value, descInput.value, priceInput.value); nameInput.value = ''; descInput.value = ''; priceInput.value = '0'" >Annehmen</button>
    <button (click) = "clearAll()" >Alle löschen</button>
  </span>
  <br>
</div>
<hr>
<table *ngIf="pizzas.length; else nopizza">
    <tr>
      <th>Name</th>
      <th>Beschreibung</th>
      <th>Preis</th>
      <th>Ist verfallen</th>
      <th>Anzahl Zutaten</th>
    </tr>
      <tr *ngFor="let pizza of pizzas">
        <td>{{pizza.name}}</td>
        <td>{{pizza.description}}</td>
        <td>{{pizza.price}}</td>
        <td>{{pizza.isExpired()}}</td>
        <td>{{pizza.ingredients?.length}}</td>
    </tr>
</table>

<ng-template #nopizza>
  <div>
    Keine Pizzas vorhanden
  </div>
</ng-template>
