<nav mat-tab-nav-bar backgroundColor="primary" color="accent">
  <a mat-tab-link routerLink="/home" routerLinkActive #homeTab="routerLinkActive" [active]="homeTab.isActive">
    Artikelliste
  </a>
  <a mat-tab-link routerLink="/add-article" routerLinkActive #formularTab="routerLinkActive"
    [active]="formularTab.isActive">
    Neuer Artikel
  </a>
  <a mat-tab-link routerLink="/remove-all" routerLinkActive #formularTab="routerLinkActive"
    [active]="formularTab.isActive">
    Alle Artikel löschen
  </a>
  <a mat-tab-link routerLink="/add-all" routerLinkActive #formularTab="routerLinkActive"
    [active]="formularTab.isActive">
    Alle Artikel neu anlegen
  </a>
</nav>
<router-outlet></router-outlet>
