<mat-card class="person-card">
  <mat-card-header>
      <img mat-card-avatar src="{{person.imagelink}}" alt="Photo of {{person.name}}">
    <mat-card-title >{{person.name}}</mat-card-title>
    <mat-card-subtitle >{{person.address.postcodetown}}, {{person.address.streetnumber}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content >
    <div fxLayout.gt-md="row" fxLayout.lt-md="column">
      <img fxHide.lt-md class="image" src="{{person.imagelink}}" alt="Photo of {{person.name}}">
      <div>
        <p [style.margin-left.px]="10">
          Geboren am {{person.birthdate | date: "dd.MM.yyy"}}, derzeit im {{person.ageInYears}} Lebensjahr, hat eine Größe von {{person.height}} Metern,
          <span *ngIf="person.height > 1.8">ist also groß,</span>
          ist <span *ngIf="person.male; else weiblich">ein Mann</span><ng-template #weiblich>eine Frau</ng-template>
        </p>
        <div fxLayout.gt-md="row" fxLayout.lt-md="column">
          <ua-email-list-component [emails]="person.emailaddresses"></ua-email-list-component>
          <ua-car-list-component [person]="person"></ua-car-list-component>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
